@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #0a0a0a; /* Always dark */
  --foreground: #ededed;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

::-webkit-scrollbar-track {
  background: black; 
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}